.radiobuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 180px;
    width: 120px;
    background: #FFFFFF;
    box-shadow: 0px 4.67391px 13.354px rgba(0, 0, 0, 0.06);
    border-radius: 6.67702px;
}

.formatselect {
    width: 167px;
    height: 19px;
    left: 405px;
    top: 164px;

    /* H3 Lato-S.bold */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* Primary(1363DF) */

    color: #1363DF;
}